<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lifedeportes.catchup-unanswered-2026-08-26</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/diego/Library/Application Support/lifedeportes/catchup_unanswered_2026-08-26.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/tmp</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Year</key>
    <integer>2026</integer>
    <key>Month</key>
    <integer>8</integer>
    <key>Day</key>
    <integer>26</integer>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/life_catchup_unanswered_2026-08-26.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/life_catchup_unanswered_2026-08-26.err</string>
</dict>
</plist>
